/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/data/Makefile.in
/data/icons/16x16/Makefile.in
/data/icons/22x22/Makefile.in
/data/icons/24x24/Makefile.in
/data/icons/256x256/Makefile.in
/data/icons/32x32/Makefile.in
/data/icons/48x48/Makefile.in
/data/icons/Makefile.in
/depcomp
/doc/Makefile.in
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/gnome-online-accounts.pot
/po/stamp-it
/so_locations
/src/Makefile.in
/src/daemon/Makefile.in
/src/examples/Makefile.in
/src/goa/Makefile.in
/src/goabackend/Makefile.in
/src/goaidentity/Makefile.in
/stamp-h1
/tags
/telepathy-account-widgets/Makefile.in
/telepathy-account-widgets/data/Makefile.in
/telepathy-account-widgets/data/icons/Makefile.in
/telepathy-account-widgets/po/Makefile.in
/telepathy-account-widgets/tools/Makefile.in
/telepathy-account-widgets/tp-account-widgets/Makefile.in
