/*.8
/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.stamp
/*.tab.c
/*~
/-rf
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/goa-decl-list.txt
/goa-decl.txt
/goa-overrides.txt
/goa-undeclared.txt
/goa-undocumented.txt
/goa-unused.txt
/goa.args
/goa.hierarchy
/goa.interfaces
/goa.prerequisites
/goa.signals
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/goa-unused.sgml
/version.xml
/xml
