/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/goa-backend-1.0.pc
/goabackendenumtypes.c
/goabackendenumtypes.h
/libgoa-backend-1.0.la
/so_locations
/tags
