/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/Goa-1.0.gir
/Goa-1.0.typelib
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/goa-1.0.pc
/goa-generated-doc-*.xml
/goa-generated-doc-org.gnome.OnlineAccounts.Account.xml
/goa-generated.c
/goa-generated.h
/goaconfig-stamp
/goaconfig.h
/goaenumtypes.c
/goaenumtypes.h
/libgoa-1.0.la
/so_locations
/tags
