/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/goaidentityenumtypes.c
/goaidentityenumtypes.h
/org.freedesktop.realmd.c
/org.freedesktop.realmd.h
/org.gnome.Identity.c
/org.gnome.Identity.h
/so_locations
/tags
